%div
  %div
    %span
      %strong
        = tweet.user.display_name
    %span
      = "@#{tweet.user.user_name}"
  %div
    %small
    = distance_of_time_in_words_to_now(tweet.created_at)
  %div
    %p
      = tweet.tweet
