!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FakeTwitter
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    - if flash[:success].present?
      %div(class="alert alert-success alert-dismissible" role="alert")
        %button(type="button" class="close" data-dismiss="alert" aria-label="Close")
          %span(aria-hidden="true")
            &times;
        = flash[:success]
    - if flash[:warning].present?
      %div(class="alert alert-warning alert-dismissible" role="alert")
        %button(type="button" class="close" data-dismiss="alert" aria-label="Close")
          %span(aria-hidden="true")
            &times;
        = flash[:warning]

    = yield
